/*Element selector*/
div {
    background-color: blue;
    margin: 10px;
}

/*Class selector*/
.fancy {
    background-color: chartreuse;
    color: beige;
}

.pancy {
    margin: 45px;   
}

/*Id selector*/
#test {
    max-width: 300px;   
    margin: 0 auto;
}